body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.controller {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px
    
}

button {
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}
